@model Labb4Book.Models.CustomerBook
@{
    ViewData["Title"] = "Create";
}
<h1 class="display-4">Rent a Book</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Choose a Customer</label>
                <select name="customerId" class="form-control" asp-items="ViewBag.FkCustomerId">
                    <option>Please select a customer</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Choose a Book</label>
                <select name="BookId" class="form-control" asp-items="ViewBag.FkBookId">
                    <option>Please select a book</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rentDate">Rent Date:</label>
                <input type="date" id="rentDate" name="rentDate" class="form-control" />
            </div>
            <div class="form-group">
                <label for="returnDate">Return Date:</label>
                <input type="date" id="returnDate" name="returnDate" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Rent" class="btn btn-primary" />
                <a asp-controller="CustomersBooks" asp-action="Index" class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>